body {
    background-color: #add8e6;
}

h1 {
    color: blue;
    font-family: Monospace;
    margin: 5px 0px 5px 0px;
    text-align: center;
    background-color: rgb(255, 0, ,0);
}

h2 {
    color: green;
    text-align: center;
    padding: 2px;
    border-top: 4px double green;
    border-bottom: 4px solid #eeeeee;
}

p {
    color: #dd00dd;
    border: 1px solid green;
    background-color: #ffffff;
    padding: 50px 0px 50px 100px;
    text-decoration: overline;
}

.margin_paragraph {
    border: 1px solid firebrick;
    margin-top: 50px;
}

div {
    border: 1px solid red;
    width: 500px;
    margin: auto;
}

div a {
    margin-top: 50%;
    text-decoration: none;
    background-color: #191;
    color: white;
    padding: 1em, 2em, 1em, 2em;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #333;
}

a:hover {
    background-color: #1c1;
}
