body {
    background-color: #000055;
}

h1 {
    color: blue;
    font-family: Monospace;
    margin: 5px 0px 5px 0px;
    text-align: center;
    background-color: rgb(255, 0, ,0);
}

h2 {
    color: green;
    text-align: center;
    padding: 2px;
    border-top: 4px double green;
    border-bottom: 4px solid #eeeeee;
}

p {
    color: red;
    border: 2px solid black;
}

.margin_paragraph {
    border: 1px solid firebrick;
    margin-top: 50px;
}
